build/
dist/
.idea/

*.out
*.swp
*.swo
*~

*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
tests/*junit.xml

vendor/**/PROJECT

vendor/**/*_test.go

**/coverage.out

**/.classpath

**/.project

**/.settings

.vscode/*

*_.yaml